<div class="row">
    <div class="col">
        <!-- <app-left (output)="onOutput($event)"></app-left> -->
        <app-left ></app-left>
    </div>
    <div class="col">
        <!-- <app-right [input]="selectedResult"></app-right> -->
        <app-right ></app-right>
    </div>
</div>