<nb-card>
    <nb-card-header style="display: flex;justify-content: space-between;">
        <button [disabled]="!model?.previous" (click)="onPreviousClick()" nbButton status="info">Prev</button>
        <button [disabled]="!model?.next" (click)="onNextClick()" nbButton status="info">Next</button>
    </nb-card-header>

    <!-- <nb-card-header style="display: flex;justify-content: space-between;">
        <a (click)="goto(i)" *ngFor="let i of listPages">&nbsp;{{ i / 20 }}&nbsp;</a>
    </nb-card-header> -->
    <nb-card-body>
        <nb-list *ngIf="model">
            <nb-list-item *ngFor="let p of model.results" (click)="onClick(p)">
                {{ p.name | titlecase }}
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
