<nb-card *ngIf="!!model">
    <nb-card-body>
        {{ model.name }}
        {{ model.weight }}
        {{ model.height }}
        <img [src]="model.sprites.front_default" >
    </nb-card-body>
</nb-card>
