<div *ngIf="control && (control.dirty || control.touched) && control.invalid">
    <div class="error" [ngSwitch]="error">
        <div *ngSwitchCase="'required'">Ce champs est requis</div>
        <div *ngSwitchCase="'email'">Addresse email invalide</div>
        <div *ngSwitchCase="'maxlength'">trop long</div>
        <div *ngSwitchCase="'afterToday'">La date ne peut pas etre sup à ajd</div>
    </div>
</div>
