<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <input formControlName="email" placeholder="Email" nbInput type="email">
        <app-form-error [control]="form.get('email')"></app-form-error>
    </div>
    <div>
        <input formControlName="nom" placeholder="Nom" nbInput type="text">
        <app-form-error [control]="form.get('nom')"></app-form-error>
    </div>
    <div>
        <input formControlName="date_de_naissance" placeholder="Date de naissance" nbInput [nbDatepicker]="picker">
        <nb-datepicker #picker></nb-datepicker>
        <app-form-error [control]="form.get('date_de_naissance')"></app-form-error>
    </div>
    <div>
        <button nbButton [disabled]="form.invalid">Envoyer</button>
    </div>
</form>
